In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("first-query").getOrCreate()

In [2]:
user_columns = ['user-id','age','gender','occupation','zip code']
user_df = spark.read.csv('u.user',sep='|')

In [3]:
from functools import reduce

oldColumns = user_df.columns
user_df = reduce(lambda user_df, ids: user_df.withColumnRenamed(oldColumns[ids], user_columns[ids]), range(len(oldColumns)), user_df)

In [4]:
user_df.show()

+-------+---+------+-------------+--------+
|user-id|age|gender|   occupation|zip code|
+-------+---+------+-------------+--------+
|      1| 24|     M|   technician|   85711|
|      2| 53|     F|        other|   94043|
|      3| 23|     M|       writer|   32067|
|      4| 24|     M|   technician|   43537|
|      5| 33|     F|        other|   15213|
|      6| 42|     M|    executive|   98101|
|      7| 57|     M|administrator|   91344|
|      8| 36|     M|administrator|   05201|
|      9| 29|     M|      student|   01002|
|     10| 53|     M|       lawyer|   90703|
|     11| 39|     F|        other|   30329|
|     12| 28|     F|        other|   06405|
|     13| 47|     M|     educator|   29206|
|     14| 45|     M|    scientist|   55106|
|     15| 49|     F|     educator|   97301|
|     16| 21|     M|entertainment|   10309|
|     17| 30|     M|   programmer|   06355|
|     18| 35|     F|        other|   37212|
|     19| 40|     M|    librarian|   02138|
|     20| 42|     F|    homemaker|   95660|
+-------+---+------+-------------+--------+
only showing top 20 rows

In [5]:
occupation_df = spark.read.csv('u.occupation').withColumnRenamed("_c0",'occupation')

In [6]:
occupation_df.show()

+-------------+
|   occupation|
+-------------+
|administrator|
|       artist|
|       doctor|
|     educator|
|     engineer|
|entertainment|
|    executive|
|   healthcare|
|    homemaker|
|       lawyer|
|    librarian|
|    marketing|
|         none|
|        other|
|   programmer|
|      retired|
|     salesman|
|    scientist|
|      student|
|   technician|
+-------------+
only showing top 20 rows

In [7]:
merged_df = user_df.join(occupation_df,on='occupation')

In [8]:
merged_df.show()

+-------------+-------+---+------+--------+
|   occupation|user-id|age|gender|zip code|
+-------------+-------+---+------+--------+
|   technician|      1| 24|     M|   85711|
|        other|      2| 53|     F|   94043|
|       writer|      3| 23|     M|   32067|
|   technician|      4| 24|     M|   43537|
|        other|      5| 33|     F|   15213|
|    executive|      6| 42|     M|   98101|
|administrator|      7| 57|     M|   91344|
|administrator|      8| 36|     M|   05201|
|      student|      9| 29|     M|   01002|
|       lawyer|     10| 53|     M|   90703|
|        other|     11| 39|     F|   30329|
|        other|     12| 28|     F|   06405|
|     educator|     13| 47|     M|   29206|
|    scientist|     14| 45|     M|   55106|
|     educator|     15| 49|     F|   97301|
|entertainment|     16| 21|     M|   10309|
|   programmer|     17| 30|     M|   06355|
|        other|     18| 35|     F|   37212|
|    librarian|     19| 40|     M|   02138|
|    homemaker|     20| 42|     F|   95660|
+-------------+-------+---+------+--------+
only showing top 20 rows

In [9]:
mean_age_df = merged_df.groupBy('occupation').agg({'age':'mean'})

In [10]:
mean_age_df.show()

+-------------+------------------+
|   occupation|          avg(age)|
+-------------+------------------+
|    librarian|              40.0|
|      retired| 63.07142857142857|
|       lawyer|             36.75|
|         none|26.555555555555557|
|       writer| 36.31111111111111|
|   programmer|33.121212121212125|
|    marketing| 37.61538461538461|
|        other|34.523809523809526|
|    executive|          38.71875|
|    scientist| 35.54838709677419|
|      student|22.081632653061224|
|     salesman|35.666666666666664|
|       artist|31.392857142857142|
|   technician|33.148148148148145|
|administrator| 38.74683544303797|
|     engineer| 36.38805970149254|
|   healthcare|           41.5625|
|     educator| 42.01052631578948|
|entertainment| 29.22222222222222|
|    homemaker| 32.57142857142857|
+-------------+------------------+
only showing top 20 rows